@model IEnumerable<dynamic>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int index=1;
}
<h1 class="text-center">Quản lý sản phẩm</h1>
<div class="button-area" style="display: flex;justify-content: end;">
    <button type="button" class="btn btn-success" id="btn-add"><i class="fa-solid fa-plus"
            style="color: #ffffff;"></i></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Nhà xuất bản</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Danh mục</th>
            <th scope="col">Tên tác giả</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Tác vụ</th>
        </tr>
    </thead>
    <tbody id="list-sach">
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.SMaSach</th>
                <td class="bookname">@item.STenSach</td>
                <td class="nxb">@item.SNhaXuatBan</td>
                <td style="max-width: 80px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" class="description">
                    @item.SMoTa
                </td>
                <td class="amount">@item.ISoLuong</td>
                <td class="status">@item.STrangThai</td>
                <td class="price">@item.FGiaTien</td>
                <td class="category" value="@item.SMaDanhMuc">@item.STenDanhMuc</td>
                <td class="author">@item.STenTacGia</td>
                <td class="image">
                    <img src="~/images/@item.SDuongDan" alt="" style="max-height: 60px;">
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-fix"><i class="fa-solid fa-wrench"
                            style="color: #ffffff;"></i></button>
                    <button type="button" class="btn btn-danger btn-del"><i class="fa-solid fa-trash"
                            style="color: #ffffff;"></i></button>
                </td>
                <input type="hidden" name="SMaSach" value="@item.SMaSach" class="item_masach">
            </tr>
            {index+=1;}
        }
    </tbody>
</table>

<!-- Modal Thêm/Sửa Sản phẩm -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="form-books">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="book-name" class="col-form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="book-name" name="book-name">
                    </div>
                    <div class="form-group">
                        <label for="nhaxuatban" class="col-form-label">Nhà xuất bản</label>
                        <input type="text" name="nhaxuatban" class="form-control" id="nhaxuatban" />
                    </div>
                    <div class="form-group">
                        <label for="book-description" class="col-form-label">Mô tả</label>
                        <textarea class="form-control" id="book-description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="nhaxuatban" class="col-form-label">Số lượng</label>
                        <input type="text" name="book-amount" class="form-control" id="book-amount" />
                    </div>
                    <div class="form-group">
                        <label for="book-price" class="col-form-label">Giá mượn</label>
                        <input type="text" name="book-price" class="form-control" id="book-price" />
                    </div>
                    <div class="form-group">
                        <label for="book-category" class="col-form-label">Danh mục</label>
                        <select class="form-select" aria-label="Default select example" name="book-category"
                            id="book-category">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="book-author" class="col-form-label">Tác giả</label>
                        <input type="text" name="book-author" class="form-control" id="book-author" />
                    </div>
                    <div class="form-group">
                        <label for="book-author" class="col-form-label">Hình ảnh</label>
                        <input type="file" name="book-author" class="form-control" id="book-author" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn-close" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btn-action">Thực hiện</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/booksmanage.js" asp-append-version="true"></script>