@model IEnumerable<dynamic>
@{

}
<div class="list-book">
    <div class="banner">
        <img src="~/images/premium_photo-1683120731413-b3aa991cb64e.jfif" alt="">
    </div>
    <div class="item-detail">
        @foreach (var list in Model)
        {
            <div class="row-list-books new-books">
                <div class="title-list shadow p-3 mb-5 bg-white rounded">
                    <h4>@list.TenDanhMuc</h4>
                    <a href="./danhmuc?id=@list.MaDanhMuc" class="btn btn-primary">
                        Xem thêm
                    </a>
                </div>
                <div class="list-book-items">
                    @foreach (var item in list.SanPham)
                    {
                        <div class="box-item shadow p-3 mb-5 bg-white rounded">
                            <a href="./itemdetail?id=@item.SMaSach">
                                <div class="img-book">
                                    <img src="~/images/@item.SDuongDan" alt="">
                                </div>
                            </a>
                            <div class="detail-book">
                                <h5>@item.STenSach</h5>
                                <p>Tác giả: @item.STenTacGia</p>
                                <p>Nhà xuất bản: @item.SNhaXuatBan</p>
                                <p>Số lượng: @item.ISoLuong</p>
                                <p>Trạng thái: <b>@item.STrangThai</b></p>
                                <p>Giá mượn: <strong>@item.FGiaTien</strong></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
