@model IEnumerable<dynamic>
<div class="details">
    @foreach (var list in Model)
    {
        <div class="item-details">
            <div class="img-item img-book" style="margin-right:20px;">
                <img src="~/images/@list.DuongDanChon" alt="">
            </div>
            <div class="item-content">
                <div class="item-description">
                    <strong>Tiêu đề: </strong><span>@list.TenSachChon</span>
                </div>
                <div class="item-description">
                    <strong>Tác giả: </strong><span>@list.TacGiaChon</span>
                </div>
                <div class="item-description">
                    <strong>Nhà xuất bản: </strong><span>@list.NXBChon</span>
                </div>
                <div class="item-description">
                    <strong>Trạng thái: </strong><span>@list.TrangThaiChon</span>
                </div>
                <div class="item-description">
                    <strong>Giá mượn: </strong>
                    <p id="price">@list.GiaTienChon VNĐ</p>
                </div>
                <div class="item-action">
                    <a href="" class="btn btn-primary">Mượn ngay</a>
                </div>
            </div>
        </div>
        <div class="list-book-synonym">
            <h2>Sách liên quan</h2>
            <div class="list-book-items">
                @foreach (var item in list.SanPhamLienQuan)
                {
                    <div class="box-item shadow p-3 mb-5 bg-white rounded">
                        <a href="./itemdetail?id=@item.SMaSach">
                            <div class="img-book">
                                <img src="~/images/@item.SDuongDan" alt="">
                            </div>
                        </a>
                        <div class="detail-book">
                            <h5>@item.STenSach</h5>
                            <p>Tác giả: @item.STenTacGia</p>
                            <p>Nhà xuất bản: @item.SNhaXuatBan</p>
                            <p>Số lượng: @item.ISoLuong</p>
                            <p>Trạng thái: <b>@item.STrangThai</b></p>
                            <p>Giá mượn: <strong>@item.FGiaTien VNĐ</strong></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>